body{


  text-align: center;
  background-color: #E4F9F5;
font-family: 'Merriweather', serif;


}
h1{ font-size: 562%;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
}
h2{
  font-family: 'Montserrat', sans-serif;
}
h3{
  font-family: 'Montserrat', sans-serif;
}
.top-container{
  padding-top: 160px;
  background-color: #E4F9F5;
  position: relative;


}
.uppercloud{
  height: 200px;
  position: absolute;
  top: 50px;
  right: 190px;



}


.lowercloud{
 height: 200px;
  position: absolute;
  top: 270px;
  left:  220px;

}
.img-giphy{
  height: 350px;
  width: 220px;
}
.img-skills{
  width: 300px;
  height: auto;
}
.img-giphy2{
  width: 350px;
  height: 240px;
}
.mountain{
  width: 800px;
  height: 480px;

}
.bottom-container{
  padding: 60px;
  text-align: center;
  height: 100px;
    background-color: #417D7A;
  }

    hr{
    border-style: dotted none none;
    width: 10%;
    border-color: gray;
    border-width: 5px;
  }
